{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'members/css/register.css' %}">
    <body class="background-image" background="{% static 'myApp/images/iStock-mathproblems.png' %}"></body>
    <h1>Register</h1>
    <div class="register-container card">
        <br/><br/>
        <div class="mb-3">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Register</button>
        </div>
    </div>  
 
{% endblock %}
