:root {
    --dark-gray: #1a1a1a;
    --light-gray: #2a2a2a;
    --yellow: #ffd700;
    --text-color: #ffffff;
}

body {
    background-color: #565555;
}

h1 {
    font-size: 2.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--yellow);
}

.post-card h6 {
    color: var(--text-color);
    font-size: 1rem;
}

h2, h3, h6{
    color: var(--yellow);   
}

.back-like {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
}

.back-like * {
    margin-right: 10px; /*This is to make the back, comment, and like button be seperated by a little
                          Did not know you could do it this way.. but thank YOU STACK OVERFLOW !*/
}

hr {
    color: var(--dark-gray)
}

.comment-post { 
    /*For the comment posts. I wanted to make it match the blog posts in the explore page.
      I think it looks good so far!*/
    width: 65%;
    background-color: var(--light-gray);
    margin-bottom: 1rem;
    color: var(--text-color);
    font-weight: lighter;
    padding: 0.2rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.add-comment {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-comment a {
    /*This looks good too! Im starting to like this comment section*/
    text-decoration: 0;
    color: var(--yellow);
    background-color: var(--light-gray);
    padding: 0.5rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.add-comment a:hover {
    opacity: 85%;
}
