.container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container section {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px; 
    background-color: #424242;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
    transition: all 0.3s ease-in-out;
    max-width: 600px;
    width: 90%;
}

.container h2 {
    color: #FFEB3B; 
    font-size: 28px;
    margin-bottom: 20px;
}

.container input[type="number"], .container button {
    padding: 15px 30px;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid #FFEB3B;
}

.container input[type="number"] {
    background-color: #616161; 
    color: #f1f1f1;
}

.container button {
    background-color: #FFEB3B; 
    color: #333; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.container button:hover {
    background-color: #CDDC39;
    transform: scale(1.05); 
}

#binaryDisplay, #randomBinary, #binaryOutput {
    font-size: 32px;
    font-weight: bold;
    color: #FFEB3B; 
}

.error {
    color: #FF6347;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

.result, .incorrect {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    transition: color 0.3s;
}

.result {
    color: #8BC34A; 
}

.incorrect {
    color: #F44336; 
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
}