{% extends 'myApp/base.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myApp/css/about.css' %}">
<h1>About</h1>

<div class="section-about w-75">
    <section class="mt-4 text-start pb-2 ps-4">
        <h2 class="fw-bold" style="color: white">Purpose</h2>
        <p class="text-white"><strong>Mathify</strong> is a platform where users can ask math-related questions, engage in community discussions, and access math calculators. 
            Some of the features of Mathify are posting, liking, commenting, user image upload, and authentication. We are aiming to implement more calculators in the future so look out!
        </p>
    </section>

    <section class="mt-4 text-start pb-2 ps-4">
        <h2 class="fw-bold" style="color: white">Contact</h2>
        <p class="text-white">Mathify was founded by <strong><a href="https://github.com/Ryan11c">ryan11c</a></strong>, a computer science student trying to get more experience through personal projects. 
            Feel free to contact me at <strong>ryanchoi4421@gmail.com</strong> with any feedback or questions!</p>
        </p>
    </section>
</div>

{% endblock %}