{% extends 'myApp/base.html' %}

{% load static %}

{% block title %}Comment{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'myApp/css/add_comment.css' %}">
{% if user.is_authenticated %}
   <h1>Add Comment</h1>
   <div class="comment-container card">
    <div class="mb-3">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add Comment</button>
        </div>
    </div>
{% else %}
    Error, user not logged in
{% endif %}
 
{% endblock %}
