{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'myApp/css/article_detail.css' %}">
    <h1>{{ post.title }}</h1>
    <div class="post-card">
        <h6>
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" width=50 height=50 class="rounded-circle">
            {% else %}
                <img src="{% static 'myApp/images/defaultpfp.png' %}" width=50 height=50 class="rounded-circle">
            {% endif %}
                {{ post.author.username }} - {{ post.post_date }} 
            {% if user.is_authenticated and user.id == post.author.id%}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}" class="card-link">Delete</a>
        </h6>
        {% endif %}
        <hr>
        <br/>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" alt="Post Image" class="img-fluid">
        {% endif %}
        <h6>
            {{ post.body|safe }}
        </h6>
    </div>

    <div class="back-like">
        <a href="{% url 'blog_view' %}" class="btn btn-warning btn-sm">Back</a>
        <button class="btn btn-warning btn-sm">{{ post.total_comments }} comment</button>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                    <button type="submit", name="post_id", value="{{ post.id }}", 
                    class="btn btn-warning btn-sm"> {{ total_likes }} like</button> 
                {% else %}
                    <button type="submit", name="post_id", value="{{ post.id }}", 
                    class="btn btn-warning btn-sm"> {{ total_likes }} like</button>
                {% endif %}
            {% else %}
                    <button class="btn btn-warning btn-sm" disabled> {{ total_likes }} like</button>
            {% endif %}
        </form>
    </div>

    <br/>
  
    <h3>Comments</h3>
    <div class="comment-section">
        <div class="add-comment">
            <a href="{% url 'add_comment' post.pk %}">Add Comment</a><br/>
        </div>
        {% if not post.comments.all %}
            <h6>
                Very empty here... No comments..
            </h6>
        {% else %}
            {% for comment_data in comments_with_pics %}
                <div class="comment-post">
                    <strong>
                        {% if comment_data.profile_pic %}
                            <img src="{{ comment_data.profile_pic }}" width=30 height=30 class="rounded-circle">
                        {% else %}
                            <img src="{% static 'myApp/images/defaultpfp.png' %}" width=30 height=30 class="rounded-circle">
                        {% endif %}
                        {{ comment_data.comment.name }} - {{ comment_data.comment.date_added }}
                    </strong>
                    <br/>
                    {{ comment_data.comment.body }}
                    <br/>
                    <form action="{% url 'like_comment' comment_data.comment.id %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-warning btn-sm">
                                {{ comment_data.likes_count }} Like{% if comment_data.likes_count == 1 %}{% else %}s{% endif %}
                            </button>
                        {% else %}
                            <button class="btn btn-warning btn-sm" disabled> {{ comment_data.likes_count }} like</button>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

