{% extends 'myApp/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'myApp/css/blog.css' %}">
<h1>Explore</h1>
<div class="row">
    {% for post in object_list %}
    <div class="col-md-4 mb-4"> 
        <div class="card">
            <a href="{% url 'article_details' pk=post.pk %}"><span class="span-link"></span></a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'article_details' pk=post.pk %}">{{ post.title|safe|truncatewords:5 }}</a>
                    <span class="card-color"> ({{ post.total_likes }} likes)</span>
                </h5>
                {% if post.category != 'uncategorized' %}
                <h6>
                    <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
                </h6>
                {% endif %}
                <h6 class="card-color">
                    {% if post.author.profile.profile_pic %}
                        <img src="{{ post.author.profile.profile_pic.url }}" width=30 height=30 class="rounded-circle">
                    {% else %}
                         <img src="{% static 'myApp/images/defaultpfp.png' %}" width=30 height=30 class="rounded-circle">
                    {% endif %}
                    {{ post.author.username }} - {{ post.post_date }}
                </h6>
                <div class="body-text">
                    <p>{{ post.body|safe|truncatewords:10 }}</p>
                </div>

                {% if user.is_authenticated and user.id == post.author.id %}
                    <div class="edit-delete">
                        <a href="{% url 'update_post' post.pk %}" class="card-link">Edit</a>
                        <a href="{% url 'delete_post' post.pk %}" class="card-link">Delete</a>
                    </div>
                {%  endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
