{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'myApp/css/category.css' %}">
    {% if category_post %}
        <h1>{{ cats }}</h1>
        <div class="row justify-content-center">
        {% for post in category_post %}
        <div class="col-md-4 mb-4"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'article_details' pk=post.pk %}">{{ post.title|safe|truncatewords:5 }}</a>
                        <span class="card-color"> ({{ post.total_likes }} likes)</span>
                    </h5>
                    <h6 class="card-color">
                        {% if post.author.profile.profile_pic %}
                            <img src="{{ post.author.profile.profile_pic.url }}" width=30 height=30 class="rounded-circle">
                        {% else %}
                            <img src="{% static 'myApp/images/defaultpfp.png' %}" width=30 height=30 class="rounded-circle">
                        {% endif %}
                        {{ post.author.username }} - {{ post.post_date }}
                    </h6>
                    <p class="card-color">{{ post.body|safe|truncatewords:10 }}</p> 

                    {% if user.is_authenticated and user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}" class="card-link">Edit</a>
                        <a href="{% url 'delete_post' post.pk %}" class="card-link">Delete</a>
                    {%  endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    {%  else %}
        <p>There are no posts under this category</p>
    {%  endif %}
{% endblock %}
