{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}Delete Post{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'myApp/css/delete_post.css' %}">
    {% if user.is_authenticated and user.id == post.author.id %}
    <h1>Delete Post</h1>
    <div class="delete-container card">
        <h3>{{ post.title }}</h3>
        <div class="mb-3">
            <form method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong> <br/>
            <button class="btn btn-secondary">Delete Post</button>
        </div>
    </div>
    {% else %}
        Error, user not logged in
    {% endif %}
{% endblock %}
