{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}
    Derivative Calculator
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myApp/css/derivative_calculator.css' %}">
<div class="deri-body">
    <div class="input-container">
        <h1>Derivative Calculator</h1>
        <label for="function">Enter a function:</label>
        <input type="text" id="function" placeholder="e.g., x^2 + sin(x)" />

        <label for="variable">Enter the variable:</label>
        <input type="text" id="variable" placeholder="e.g., x" />

        <button onclick="calculateDerivative()">Calculate Derivative</button>
    </div>

    <div class="output-deriv">
        <h2>Result:</h2>
            <pre id="result"></pre>

        <h2>Steps:</h2>
            <pre id="steps"></pre>
    </div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.8.0/math.min.js"></script>
<script src="{% static 'myApp/js/derivative_calculator.js' %}"></script>
{% endblock %}