{% extends 'myApp/base.html' %}
{% load static %}

{% block title %}
    Mathify
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myApp/css/home.css' %}">
    <main class="container">
        <h2>Choose a Calculator</h2>
        <div class="calculator-grid">
            <div class="calculator-card">
                <a href="{% url 'row_reducer' %}">
                <div class="calculator-icon">R ↔ R</div>
                <h3 class="calculator-title">Row Reduction</h3>
                <p class="calculator-description">Solve systems of linear equations</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href="{% url 'binary_calculator' %}">
                <div class="calculator-icon">01</div>
                <h3 class="calculator-title">Binary Conversion</h3>
                <p class="calculator-description">Convert between decimal and binary</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href="#">
                <div class="calculator-icon">∫</div>
                <h3 class="calculator-title">Integration</h3>
                <p class="calculator-description">Calculate definite and indefinite integrals</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href="{% url 'derivative_calculator' %}">
                <div class="calculator-icon">d/dx</div>
                <h3 class="calculator-title">Derivatives</h3>
                <p class="calculator-description">Compute derivatives of functions</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href=#>
                <div class="calculator-icon">det(A)</div>
                <h3 class="calculator-title">Determinant</h3>
                <p class="calculator-description">In progress...</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href=#>
                <div class="calculator-icon">A^(-1)</div>
                <h3 class="calculator-title">Inverse</h3>
                <p class="calculator-description">In progress...</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href=#>
                <div class="calculator-icon">A^(n)</div>
                <h3 class="calculator-title">Matrix Power</h3>
                <p class="calculator-description">In progress...</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href=#>
                <div class="calculator-icon">÷, x, +, -</div>
                <h3 class="calculator-title">Algebra</h3>
                <p class="calculator-description">In progress...</p>
                </a>
            </div>
            <div class="calculator-card">
                <a href=#>
                <div class="calculator-icon">∧, ∩, ¬, !</div>
                <h3 class="calculator-title">Boolean Algebra</h3>
                <p class="calculator-description">In progress...</p>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
